.cyferki {
  height: 100px;
  width: 100px;
  background: #000;
  border: 0.1px solid rgba(100, 100, 100, 100);
  color: white;
  font-size: 60px;
}

.ekranik {
  height: 125px;
  width: 400px;
  background: grey;
}

.blue {
  height: 100px;
  width: 100px;
  background: rgb(40, 40, 40);
  border: 0.1px solid rgba(100, 100, 100, 100);
  color: rgb(0, 162, 232);
  font-size: 60px;
}

.znak {
  height: 200px;
  width: 100px;
  background: rgb(0, 162, 232);
  border: 0.1px solid rgba(100, 100, 100, 100);
  color: white;
  font-size: 60px;
}

.inne {
  height: 100px;
  width: 100px;
  background: rgb(40, 40, 40);
  border: 0.1px solid rgba(100, 100, 100, 100);
  color: white;
  font-size: 60px;
}
